<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object test example">
<parameter name="appURL" value="http://newtours.demoaut.com/"/>
<parameter name="browserType" value="chrome"/>
  <test name="test-1">
    <classes>
      <class name="com.mercury.frontend.OfrCreateAnAccounTest"/>               
      <class name="com.mercury.frontend.OfrLoginTest"/>
    </classes>
  </test>
</suite>